<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  
    </startup>
  

    
  <appSettings>
    <add key="url" value="localhost" />
    <!--<add key="TerminalId" value="17000014" />-->

    <add key="TerminalId" value="BIP00001" />
    <add key="Port" value="23001" />

    <add key="smsGatewayUsername" value="GeneInsure" />
    <add key="smsGatewayToken" value="b6fd77919b0004f944dc7319eebdde9f" />
    
     <add key="tba" value="TBA" />
     <!--<add key="urlPath" value="http://windowsapi.gene.co.zw" />-->
     <add key="urlPath" value="http://geneinsureclaim2.kindlebit.com" />

    <!--<add key="urlPath" value="http://localhost:6220" />-->
    
    <add key="branch" value="" /> 
    <add key="certificatePath" value="e:\Certificate.pdf" />
   <add key="adobeReaderPath" value="C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe" />
    
    

   <!--<add key="DefaultCulture" value="en-US" />-->
    
  
   <add key="DefaultCulture" value="en-US" />

    
  </appSettings>
</configuration>
